@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #f4f4f4;

}

/* post */

.post-card{
    /* sonra */
}

.post-header{
    width: 900px;
    margin: auto;
}

.post-header h1{
    text-align: center;
    margin-top: 50px;
}

.post-bilgi{
    margin-top: 20px;
}


.separator{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.4em;
    width: 1px;
    height: 1em;
    background: #ccc;
}

.card-text a{
    margin-top: 2px;
    color: var(--bs-secondary-color);
    text-decoration: none;
    font-size: 15px;
}


.card-text a:hover{
    color: rgb(106, 0, 255);
    text-decoration: none;
}

.card-text p{
    font-size: 15px;
}

.post-images{
    margin: auto;
    margin-top: 50px;
}


.content{
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    white-space: pre-line;
    
}

.content p{
    text-align: left;
    line-height: 2;
    padding-bottom: 1em
}

